<ion-header>
  <ion-toolbar>
    <ion-title>ChangerMotPass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label >Ancien mot de pass</ion-label>
  <ion-input type="password" name="c_password" ngModel placeholder="Ancien mot de pass"></ion-input>
  <ion-label>Nouveau mot de pass</ion-label>
  <ion-input type="password" name="c_password" ngModel placeholder="Nouveau mot de pass"></ion-input>
  <ion-label>Nouveau mot de pass</ion-label>
  <ion-input type="password" name="c_password" ngModel placeholder="Confirmer nouveau mot pass"></ion-input>
</ion-content>
