
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="medium"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <form #detail="ngForm" (ngSubmit)="connecterUser(detail)">
      <ion-header>
        <img src="assets/images/user.png">
      </ion-header>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" name="login" ngModel placeholder="Email ID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" ngModel name="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button type="submit" name="Login" fill="clear">Login</ion-button>
      <ion-button routerLink="/forgot-password" fill="clear">Forgot Password</ion-button>
      <ion-button routerLink="/register" fill="clear" expand="full">REGISTER</ion-button>
    </form>
  </div>
</ion-content>
