img{
  border-radius: 50%;
}
.log ion-button{
  margin: 20px auto;
  width: 150px;
}
.log{
  height: 80px;
  background-color: aqua;
  border-radius: 0% 0% 10% 10%;
}
.nan{
  --ion-background-color:linear-gradient(rgb(93, 107, 93),black);
}
.man{
  position: absolute;
  background: rgb(222, 219, 224);
  padding: 3% 3%;
  position: relative;
  border-radius: 3%;
}